/* Tags + Tag Page */
.tags__info {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid var(--border-color);

  .tags__title {
    font-size: 52px;
    line-height: 1.2;
  }

  .tags__list {
    display: flex;
    align-items: center;
    gap: 12px;

    .tags__link {
      padding: 12px 16px;
      font-size: 16px;
      line-height: 1.2;
      text-decoration: none;
      border-radius: 12px;
      background: var(--background-alt-color);

      &:hover {
        background: var(--background-alt-color-2)
      }
    }
  }

  @media (max-width: $desktop) {
    .tags__title {
      margin-bottom: 24px;
      font-size: 46px;
    }
  }

  @media (max-width: $mobile) {
    padding-bottom: 40px;
    margin-bottom: 40px;

    .tags__title {
      font-size: 36px;
    }

    .tags__list {
      gap: 8px;
    }
  }
}

/* Tag Page */
.tag-page {
  margin-bottom: -32px;
}

.tag-page__head {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 10px;
  margin-bottom: 32px;
  font-size: 52px;
  line-height: 1.2;

  .tag-page__title {
    margin: 0;
    font-size: inherit;
    line-height: 1.2;
  }

  .tag-page__counter {
    font-family: $highlighted-font;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
    color: var(--heading-font-color);
  }

  @media (max-width: $desktop) {
    margin-bottom: 24px;
    font-size: 46px;
  }

  @media (max-width: $mobile) {
    font-size: 36px;
  }
}