{{ define "main" }}

<!-- begin page -->
<div class="container">
  <article class="page">
    <div class="page__content">
      <div class="container">
        <div class="row">
          <div class="col col-12">
            <div class="error">
              <h2 class="error__title">404</h2>
              <p class="error__text">The requested page could not be found.</p>
              <a class="button" href="/">Back to homepage</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
<!-- end page -->

{{ $posts := where .Site.RegularPages "Section" "posts" }}
{{ if gt (len $posts) 0 }}
<!-- begin recent posts -->
<section class="section recent-posts">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <h2 class="section__title">Recent <em>Articles</em></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{ range ( where site.RegularPages "Section" "posts" | first 4 ) }}
        {{ partial "article.html" . }}
      {{ end }}
    </div>
  </div>
</section>
<!-- end recent posts -->
{{ end }}

{{ end }}